@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&family=Baloo+Bhai+2:wght@400..800&family=Berkshire+Swash&family=Doppio+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tilt+Warp&family=Titan+One&family=Tourney:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-card: var(--card);
  --color-border: var(--border);

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;

  --shadow-sm: 0 0 10px rgba(0, 0, 0, 0.2);
  --shadow-md: 0 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);

  --image-grayscale: 0;
  --image-opacity: 100%;

  --backdrop-color: rgba(255, 255, 255, 0.1);
}

@layer base {
  :root {
    --color-primary-50: #ebedee;
    --color-primary-100: #e2e7ec;
    --color-primary-200: #efeff0;
    --color-primary-300: #c2cacf;
    --color-primary-400: #a5b2bf;
    --color-primary-500: #8f9ca9;
    --color-primary-600: #657171;
    --color-primary-700: #5d6772;
    --color-primary-800: #252a2e;
    --color-primary-900: #151516;
    --color-primary-950: #141c24;

    --background: #f8fafc;
    --foreground: #0f1729;

    --primary: #0ead68;
    --primary-foreground: #f8fafc;

    --card: #0b111e;
    --border: rgba(0, 0, 0, 0.2);
  }

  .dark {
    --color-primary-950: #ebedee;
    --color-primary-900: #e2e7ec;
    --color-primary-800: #efeff0;
    --color-primary-700: #c2cacf;
    --color-primary-600: #a5b2bf;
    --color-primary-500: #8f9ca9;
    --color-primary-400: #657171;
    --color-primary-300: #5d6772;
    --color-primary-200: #252a2e;
    --color-primary-100: #151516;
    --color-primary-50: #141c24;

    --background: #05080f;
    --foreground: #ffffff;

    --primary: #0ead68;
    --primary-foreground: #f8fafc;

    --card: #ffffff;
    --border: rgba(255, 255, 255, 0.2);
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer components {
  .navbar {
    height: 100%;
    padding: 1.25rem;
    overflow-x: hidden;
    background: transparent;
    backdrop-filter: blur(30px);
    transition: 0.5s;
  }

  .navbar.active {
    width: 17rem;
  }

  .list-item {
    list-style: none;
    width: 100%;
    height: 2.5rem;
    margin: 0.8rem 0;
    line-height: 3rem;
  }

  .navlink:link,
  .navlink:visited {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.8rem;
    font-weight: 500;
    color: var(--color-primary-800);
    transition: all 0.3s;
  }

  .navlink:hover,
  .navlink:active,
  .navlink.active:link,
  .navlink.active:visited {
    background-color: var(--color-primary-300);
    color: var(--color-primary-800);
    border-radius: var(--border-radius-sm);
  }

  .link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    background-color: var(--color-primary-800);
    color: var(--color-primary-50);
    border-radius: var(--border-radius-sm);
    padding: 1rem 1.5rem;
  }

  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--color-primary-900);
    border-right-color: var(--color-primary-200);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--color-primary-200);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  .form {
    overflow: hidden;
    font-size: 1.4rem;
  }

  .form[type="regular"] {
    padding: 2.4rem 4rem;
    background-color: var(--color-primary-50);
    border: 1px solid var(--color-primary-200);
    border-radius: var(--border-radius-md);
  }

  .form[type="modal"] {
    width: 30rem;
  }

  .form-row {
    display: grid;
    align-items: center;
    grid-template-columns: 12rem 1fr 1.2fr;
    gap: 1.4rem;
    padding: 0.6rem 0;
  }

  .form-row:first-child {
    padding-top: 0;
  }

  .form-row:last-child {
    padding-bottom: 0;
  }

  .form-row:not(:last-child) {
    border-bottom: 1px solid var(--color-primary-100);
  }

  .form-row:has(button) {
    display: flex;
    justify-content: flex-end;
    gap: 1.2rem;
  }

  .btn {
    text-align: center;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-sm);
  }

  .btn.small {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.4rem 0.8rem;
    font-weight: 600;
  }

  .btn.medium {
    font-size: 1.2rem;
    padding: 1.2rem 1.6rem;
    font-weight: 500;
  }

  .btn.large {
    font-size: 1.4rem;
    padding: 1.2rem 2.4rem;
    font-weight: 500;
  }

  .btn.primary {
    background-color: var(--color-primary);
    color: var(--color-foreground);
  }
  .btn.primary:hover {
    background-color: var(--color-primary-800);
  }

  .btn.secondary {
    background: var(--color-primary-50);
    color: var(--color-grey-600);
  }
  .btn.secondary:hover {
    background-color: var(--color-primary-200);
  }

  .btn.danger {
    color: var(--color-red-100);
    background-color: var(--color-red-700);
  }
  .btn.danger:hover {
    background-color: var(--color-red-800);
  }

  .button-icon {
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: var(--border-radius-sm);
    transition: all 0.2s;
    width: 2.5rem;
    height: 2.5rem;
  }
  .button-icon:hover {
    background-color: var(--color-primary-100);
  }

  .input {
    font-size: 1.7rem;
    background-color: var(--color-primary-100);
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid var(--color-primary-400);
  }

  .input-file[type="file"] {
    font-size: 1.2rem;
    border-radius: var(--border-radius-sm);
  }
  .input-file[type="file"]::file-selector-button {
    cursor: pointer;
    font: inherit;
    font-weight: 500;
    padding: 0.8rem 1.2rem;
    margin-right: 1.2rem;
    border-radius: var(--border-radius-sm);
    border: none;
    color: var(--color-primary-50);
    background-color: var(--color-primary-600);
    transition:
      color 0.2s,
      background-color 0.2s;
  }
  .input-file[type="file"]:hover {
    background-color: var(--color-primary-700);
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Poppins";
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  background: #ddd;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ff5252;
  margin-top: -5px;
}
